:root {
  --playersize: 90px;
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* COMMON */
/* LAYOUT */

.flex {
  display: flex;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.console {
  background-color: violet;
  height: calc(100% - var(--playersize));
}

.player {
  height: var(--playersize);
  background-color: brown;
}

.nav-bar {
  width: 15%;
  background-color: aquamarine;
}

.library {
  width: 85%;
  overflow-y: auto;
}
